<div class="row justify-content-center m-0 p-0">
  <div class="col col-12 m-0 p-0" [ngClass]="{'col-12': authService.isLogin(), 'col-12 col-sm-11 col-md-11 col-lg-11 col-xl-11': !authService.isLogin()}">
    <div class="card m-0 p-0" style="min-height: 500px;" [ngClass]="{'border border-1 shadow-none': authService.isLogin(), 'shadow-none': !authService.isLogin()}">
      <div *ngIf="header==='yes'; then head"></div>
      <ng-template #head>
        <div class="card-header" [ngClass]="{'': authService.isLogin(), 'border border-0': !authService.isLogin()}">
          <div class="clr-row clr-justify-content-between">
            <div class="clr-col-12 clr-col-md-6 clr-col-lg-6" style="margin-top: 5px;">
              <h4 class="card-title text-capitalize text-black">{{ "ticket.pageTitle.add" | translate }}</h4>
            </div>
          </div>
        </div>
      </ng-template>
      <div class="card-block">
        <form class="needs-validation mt-3" novalidate #f="ngForm" name="form" (ngSubmit)="f.form.valid && onSubmit(f)">
          <div class="row">
            <ng-template [ngxPermissionsOnly]="['TICKET_SSYSADMIN']" [ngxPermissionsOnlyElse]="hideInput"></ng-template>
            <ng-template #hideInput>
              <div class="mb-2" [ngClass]="{'col-5': authService.isLogin(), 'col-lg-6 col-md-6 col-sm-12 col-xs-12': !authService.isLogin()}">
                <div class="form-group">
                  <label for="firstName" class="form-label clr-required-mark fw-semibold">{{'ticket.firstName.label' | translate}}</label>
                  <input type="text" name="firstName" class="form-control form-control-sm" id="firstName" [(ngModel)]="ticket.firstName" required
                  [placeholder]="'ticket.firstName.placeholder' | translate" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.errors }">
                  <div *ngIf="f.submitted && firstName.errors" class="invalid-feedback">
                    <div *ngIf="firstName.errors['required']">{{'ticket.firstName.error.required' | translate}}</div>
                  </div>
                </div>
              </div>
              <div class="mb-2" [ngClass]="{'col-5': authService.isLogin(), 'col-lg-6 col-md-6 col-sm-12 col-xs-12': !authService.isLogin()}">
                <label for="lastName" class="form-label fw-semibold">{{'ticket.lastName.label' | translate}}</label>
                <input type="text" name="lastName" class="form-control form-control-sm" id="lastName" [(ngModel)]="ticket.lastName"
                  [placeholder]="'ticket.lastName.placeholder' | translate">
              </div>
              <div class="mb-2" [ngClass]="{'col-5': authService.isLogin(), 'col-lg-6 col-md-6 col-sm-12 col-xs-12': !authService.isLogin()}">
                <label for="mobileNumber" class="form-label clr-required-mark fw-semibold">{{'ticket.phone.label' | translate}}</label>
                <div class="input-group input-group-sm">
                  <span class="input-group-text">{{countryCode}}</span>
                  <input type="text" name="mobileNumber" class="form-control form-control-sm" id="mobileNumber" [(ngModel)]="ticket.mobileNumber" required
                   [pattern]="mobileRegex" [placeholder]="'ticket.phone.placeholder' | translate" #mobileNumber="ngModel" [ngClass]="{ 'is-invalid': (f.submitted || f.touched) && mobileNumber.errors }">
                  <div *ngIf="(f.submitted || f.touched) && mobileNumber.errors" class="invalid-feedback">
                    <div *ngIf="mobileNumber.errors['required']">{{'ticket.phone.error.required' | translate}}</div>
                    <div *ngIf="mobileNumber.errors['pattern']">Enter a valid contact number</div>
                  </div>
                </div>
              </div>
              <div class="mb-2" [ngClass]="{'col-5': authService.isLogin(), 'col-lg-6 col-md-6 col-sm-12 col-xs-12': !authService.isLogin()}">
                <label for="alternateMobileNumber" class="form-label fw-semibold">{{'ticket.alternateMobileNumber.label' | translate}}</label>
                <div class="input-group input-group-sm">
                  <span class="input-group-text">{{countryCode}}</span>
                  <input type="text" name="alternateMobileNumber" class="form-control form-control-sm" id="alternateMobileNumber"
                  [(ngModel)]="ticket.alternateMobileNumber" #alternateMobileNumber="ngModel" ceirpanelBlankMobileValidator [ngClass]="{ 'is-invalid': (f.touched || f.submitted) && alternateMobileNumber.errors }"
                    [placeholder]="'ticket.alternateMobileNumber.placeholder' | translate">
                    <div *ngIf="f.touched && alternateMobileNumber.errors" class="invalid-feedback">
                      <div *ngIf="alternateMobileNumber.errors['invalid']===false">{{ "user.contact.mobile.invalidMobile" | translate }}</div>
                    </div>
                </div>
              </div>
              <div class="mb-2" [ngClass]="{'col-5': authService.isLogin(), 'col-lg-12 col-md-12 col-sm-12 col-xs-12': !authService.isLogin()}">
                <div class="form-group">
                  <label for="email" class="form-label fw-semibold">{{'ticket.email.label' | translate}}</label>
                  <input type="text" name="emailAddress" class="form-control form-control-sm" id="emailAddress" [(ngModel)]="ticket.emailAddress"
                    [placeholder]="'ticket.email.placeholder' | translate" #emailAddress="ngModel" ceirpanelBlankEmailValidator [ngClass]="{ 'is-invalid': (f.touched || f.submitted) && emailAddress.errors }">
                  <div *ngIf="f.touched && emailAddress.errors" class="invalid-feedback">
                    <div *ngIf="emailAddress.errors['invalid']===false">{{ "user.contact.email.invaildEmail" | translate }}</div>
                  </div>
                </div>
              </div>
              <div class="mb-2" [ngClass]="{'col-5': authService.isLogin(), 'col-6': !authService.isLogin()}" *ngIf="authService.isLogin()">
                <label for="email" class="form-label fw-semibold clr-required-mark">{{'ticket.category.label' | translate}}</label>
                <select class="form-select form-control form-control-sm" name="category" [(ngModel)]="ticket.category"
                  #category="ngModel" [ngClass]="{ 'is-invalid': f.submitted && category.errors }" required>
                  <option selected [value]="''" disabled>{{ "ticket.category.placeholder" | translate }}</option>
                  <option *ngFor="let category of categories" [value]="category">{{category}}</option>
                </select>
                <div *ngIf="f.submitted && category.errors" class="invalid-feedback">
                  <div *ngIf="category.errors['required']">Category is required</div>
                </div>
              </div>
            </ng-template>
            <div class="mb-2" [ngClass]="{'col-10': authService.isLogin(), 'col-12': !authService.isLogin()}">
              <div class="form-group">
                <label for="subject" class="form-label clr-required-mark fw-semibold">{{'ticket.subject.label' | translate}}</label>
                <input type="text" name="subject" class="form-control form-control-sm" id="subject" [(ngModel)]="ticket.subject"
                  [placeholder]="'ticket.subject.placeholder' | translate" required #subject="ngModel" [ngClass]="{ 'is-invalid': f.submitted && subject.errors }">
                <div *ngIf="f.submitted && subject.errors" class="invalid-feedback">
                  <div *ngIf="subject.errors['required']">{{'ticket.subject.error.required' | translate}}</div>
                </div>
              </div>
            </div>
            <ng-template [ngxPermissionsOnly]="['TICKET_SSYSADMIN']" [ngxPermissionsOnlyThen]="showInput"></ng-template>
            <ng-template #showInput>
              <div class="mb-2 col-10">
                <div class="form-group">
                  <label for="referenceId" class="form-label fw-semibold">Reference ID</label>
                  <input type="text" name="referenceId" class="form-control form-control-sm" id="referenceId" [(ngModel)]="ticket.referenceId"
                    placeholder="Enter Reference ID">
                </div>
              </div>
            </ng-template>
            <div [ngClass]="{'col-10': authService.isLogin(), 'col-12': !authService.isLogin()}">
              <div class="form-group">
                <label for="subject" class="form-label clr-required-mark fw-semibold">{{'ticket.description.label' | translate}}</label>
                <textarea name="description" class="form-control form-control-sm" id="description" [(ngModel)]="ticket.description"
                  [placeholder]="'ticket.description.placeholder' | translate" required #description="ngModel" [ngClass]="{ 'is-invalid': f.submitted && description.errors }"></textarea>
                  <div *ngIf="f.submitted && description.errors" class="invalid-feedback">
                    <div *ngIf="description.errors['required']">{{'ticket.description.error.required' | translate}}</div>
                  </div>
              </div>
            </div>
          </div>
          <div class="clr-row m-0 p-0">
            <div class="m-0 p-0 mt-1" [ngClass]="{'clr-col-10': authService.isLogin(), 'clr-col-12': !authService.isLogin()}">
              <span class="text-danger">{{ 'button.note' | translate }}! * </span>
              <span class="fw-semibold">
                {{"ticket.pageTitle.info" | translate}}
              </span>
            </div>
          </div>
          <ng-template [ngxPermissionsOnly]="['TICKET_ATTACHMENT']" [ngxPermissionsOnlyThen]="showUpload" [ngxPermissionsOnlyElse]="hideUpload"></ng-template>
          <ng-template #showUpload>
            <div class="clr-row m-0 p-0 mt-1">
              <div class="m-0 p-0" [ngClass]="{'clr-col-10': authService.isLogin(), 'clr-col-12': !authService.isLogin()}">
                <label>{{ "ticket.document.label" | translate }}</label>
              </div>
            </div>
            <div class="row m-0 p-0 mt-2 row-cols-auto">
              <div class="m-0 p-0 col">
                <input type="file" accept="image/png, image/jpg, image/jpeg, application/pdf" #document style="display: none;" (change)="documentSelect($event)" multiple>
                <button type="button" class="btn btn-primary-outline text-black" (click)="document.click()" style="border-style: dotted;" [disabled]="documentObject.length === 3">
                  {{ "ticket.document.placeholder" | translate }}<cds-icon shape="paperclip"></cds-icon>
                </button>
              </div>
              <div class="m-0 p-0 col">
                <p class="m-0 p-0 lh-sm">{{'ticket.image.accept1' | translate}}</p>
                <p class="m-0 p-0 lh-sm">{{'ticket.image.accept2' | translate}}</p>
              </div>
            </div>
            <div class="clr-row m-0 p-0" *ngIf="documentObject && documentObject.length > 0">
              <div class="m-0 p-0 clr-col-12">
                <h5 class="text-black">
                  {{'ticket.image.list' | translate}}
                </h5>
              </div>
            </div>
            <div class="clr-row m-0 p-0 mt-2" *ngFor="let img of documentObject;let i = index" (click)="documentObject.splice(i, 1)">
              <div class="m-0 p-0 clr-col-12'">
                <a href="javascript://" class="label label-blue clickable border border-0">
                  <span class="text">{{img?.name}}({{img?.size?.size+img?.size.type}})</span>
                  <cds-icon shape="close"></cds-icon>
                </a>
              </div>
            </div>
            <div class="clr-row m-0 p-0">
              <div class="m-0 p-0 clr-col-12">
                <h5 class="clr-required-mark text-black">
                  {{ "ticket.mandatory.label" | translate }}
                </h5>
              </div>
            </div>
            <div class="clr-row mt-2" *ngIf="siteKey && !isLocalhost">
              <div [ngClass]="{'clr-col-10': authService.isLogin(), 'clr-col-12': !authService.isLogin()}">
                <div class="form-group">
                  <re-captcha [siteKey]="siteKey" [(ngModel)]="ticket.captcha" name="captcha"
                   required #captcha="ngModel" [ngClass]="{ 'is-invalid': f.submitted && captcha.errors }" (resolved)="resolved($event)"></re-captcha>
                  <div *ngIf="f.submitted && captcha.errors" class="invalid-feedback">
                    <div *ngIf="captcha.errors['required']">Captcha Required</div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template #hideUpload>
            <div class="form-check mt-1">
              <input class="form-check-input" type="checkbox" [(ngModel)]="ticket.resolved" id="resolved" name="resolved" value="true">
              <label class="form-check-label" for="flexCheckDefault">
                {{'ticket.resolved.label' | translate}}
              </label>
            </div>
          </ng-template>
          <div class="clr-row mt-2">
            <ng-template [ngxPermissionsOnly]="['TICKET_ATTACHMENT']" [ngxPermissionsOnlyThen]="left" [ngxPermissionsOnlyElse]="right"></ng-template>
            <ng-template #left>
              <div [ngClass]="{'clr-col-10': authService.isLogin(), 'clr-col-12': !authService.isLogin()}">
                <div class="clr-row clr-justify-content-start">
                  <div class="clr-col-5 clr-col-lg-2" *ngIf="authService.isLogin()">
                    <button type="button" class="btn btn-outline btn-block" routerLink="/ticket">Back</button>
                  </div>
                  <div class="clr-col-5 clr-col-lg-2">
                    <button type="submit" class="btn btn-primary btn-block">{{ 'button.register' | translate }}</button>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template #right>
              <div [ngClass]="{'clr-col-10': authService.isLogin(), 'clr-col-12': !authService.isLogin()}">
                <div class="clr-row" [ngClass]="{'clr-justify-content-end': authService.isLogin(), 'clr-justify-content-start': !authService.isLogin()}">
                  <div class="clr-col-5 clr-col-lg-2">
                    <button type="submit" class="btn btn-primary btn-block">{{ 'button.register' | translate }}</button>
                  </div>
                  <div class="clr-col-5 clr-col-lg-2" *ngIf="authService.isLogin()">
                    <button type="button" class="btn btn-outline btn-block" (click)="f.reset()">{{ "button.reset" | translate }}</button>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </form>
      </div>
    </div>
  </div>  
</div>
<ceirpanel-ceir-alert></ceirpanel-ceir-alert>