<div class="card">
  <div class="card-header">
    <div class="clr-row clr-justify-content-between">
      <div class="clr-col-4" style="margin-top: 5px;">
        <h4 class="card-title text-capitalize">{{ "user.pageTitle.changePasswordTitle" | translate }}</h4>
      </div>
      <div class="clr-col-4 text-right" style="padding-right: 0.1rem">
        <div class="btn-group btn-primary text-right">
          <button class="btn" aria-label="Check" (click)="_location.back()">
            <i class="bi bi-arrow-left-circle"></i> {{ "button.back" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div> 
  <div class="card-block m-1 p-1">
    <form clrForm clrLayout="vertical" class="m-0 p-0" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)">
      <fieldset class="scheduler-border">
        <legend class="scheduler-border">{{ "user.changePassword.title" | translate }}</legend>
        <div class="clr-row m-0 p-0">
          <div class="clr-col-9">
            <div class="form-group">
              <label class="clr-required-mark">{{ "user.password.oldpassword.label" | translate }}</label>
              <input type="password" [(ngModel)]="userPassword.oldPassword" class="form-control form-control-sm"
                [placeholder]="'user.password.oldpassword.placeholder' | translate" id="oldPassword" name="oldPassword" required 
                #oldPassword="ngModel" [ngClass]="{ 'is-invalid': (f.touched || f.submitted) && oldPassword.errors }"/>
              <div *ngIf="f.submitted && oldPassword.errors" class="invalid-feedback">
                <div *ngIf="oldPassword.errors['required']">{{ "user.password.oldpassword.error" | translate }}</div>
              </div>
            </div>
          </div>
          <div class="clr-col-9 mt-3">
            <div class="form-group">
              <label class="clr-required-mark">{{ "user.password.password.label" | translate }}</label>
              <input type="password" [(ngModel)]="userPassword.newPassword" #newPasswordModel="ngModel" class="form-control form-control-sm"
                [placeholder]="'user.password.password.placeholder' | translate" id="newPassword"
                pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                name="newPassword" required [ngClass]="{ 'is-invalid': (f.touched || f.submitted) && newPasswordModel.errors }"/>
              <div *ngIf="f.submitted && newPasswordModel.errors" class="invalid-feedback">
                <div *ngIf="newPasswordModel.errors['required']">{{ "user.password.password.error" | translate }}</div>
              </div>
              <div *ngIf="f.touched && newPasswordModel.errors" class="invalid-feedback">
                <div *ngIf="newPasswordModel.errors['pattern']">{{ "user.password.password.error" | translate }}</div>
              </div>
            </div>
          </div>
          <div class="clr-col-9 mt-3">
            <div class="form-group">
              <label class="clr-required-mark">{{ "user.password.confirm.label" | translate }}</label>
              <input type="password" [(ngModel)]="userPassword.confirmNewPassword" name="confirmNewPassword"
                ngValidateEqual="newPassword" #modelConfirmPassword="ngModel" class="form-control form-control-sm"
                [placeholder]="'user.password.confirm.placeholder' | translate" id="confirmNewPassword" 
                [ngClass]="{ 'is-invalid': (f.touched || f.submitted) && modelConfirmPassword.errors }"/>
              <div *ngIf="(modelConfirmPassword.dirty || modelConfirmPassword.touched) && modelConfirmPassword.invalid" class="invalid-feedback">
                <span *ngIf="modelConfirmPassword.hasError('notEqual') && newPasswordModel.valid">
                  {{ "user.password.confirm.equal" | translate }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="clr-row clr-justify-content-end mt-3">
          <div class="clr-col-2">
            <button type="submit" class="btn btn-primary btn-block">{{ "button.save" | translate }}</button>
          </div>
          <div class="clr-col-2">
            <button type="button" class="btn btn-outline btn-block"
              (click)="cancel=true">{{ "button.cancel" | translate }}</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
